<section class="sub-header">
    <nav>
        <a [routerLink]="['/']"><img src="../../assets/images/prelogo.png"></a>
        <div class="nav-links" id="navlinks">
            <!-- <i class="fas fa-window-close" onclick="hidemenu()"></i> -->
            <ul>
                <li><a [routerLink]="['/apartments']">Apartment</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
                <!-- <li><a href="villa.html">VILLAS</a></li>
                    <li><a href="plot.html">PLOTS</a></li> -->
            </ul>
        </div>
        <!-- <i class="fas fa-bars" onclick="showmenu()"></i> -->
    </nav>
    <h1>Apartment Details</h1>
</section>
<section class="detail-img">
    <div class="main-img"><img src="../../assets/images/john-fornander-Id7u0EkTjBE-unsplash.jpg"></div>
       
    <a href="../../assets/images/detail2.jpg" target="_blank"><img src="../../assets/images/detail2.jpg"></a>
    <a href="../../assets/images/detai1(2).jpg" target="_blank"><img src="../../assets/images/detai1(2).jpg"></a>
    <!-- <a href="images/new-img-3-1500x842.jpg" target="_blank"><img src="images/new-img-3-1500x842.jpg"></a> -->
    <!-- <a href="images/model-flat-6-1182x663.png" target="_blank"><img src="images/model-flat-6-1182x663.png"></a>  -->
</section>
<section class="container">
    <div class="pre-row">
        <h2>Interior Appartment</h2>
        <p><i class="fas hd-btn fa-map-marker-alt"></i> 114 Holcroft Rd, Rochester, NY</p>
        <p><i class="fas ru-btn fa-rupee-sign"></i> 1.31 Cr-2cr</p>
    </div>

</section>
<section class="ul-list">
    <div class="list">
        <ul>
            <li><i class="fas fa-city cls-city"></i> Apartment</li>
            <div class="vr"></div>
            <li><i class="far fa-clock cls-clock"></i> 3 months ago</li>
            <div class="vr"></div>
            <li><i class="far fa-eye cls-eye"></i> 101</li>
        </ul>
    </div>
    <div class="list" id="list-detail">
        <ul>
            <li class="sa-col"><i class="fas fa-share cls-share"></i> SHARE</li>
            <li class="sa-col"><i class="far fa-heart cls-heart"></i> WISHLIST</li>

        </ul>
    </div>
</section>

<section class="overview">

    <div class="detail-col">
        <div>
            <p>Mayfair Apartments offers premium luxury homes at great rates. These flats for sale in Tellapur are one
                of the most awaited projects and are located in close proximity to the Financial District.<br></p>

            <p>Looking for flats in Tellapur? The community of Mayfair Apartments is nature’s haven, surrounded by lush
                greenery including a variety of herbal and aromatic gardens. The Central Park is a concept adopted from
                the Miyawaki Forest and is abundant with wild tree species and exotic flora. Situated in the heart of
                the project, a huge block of retained natural soil homes a stunning African Baobab tree. With
                Rachabanda,these flats in Tellapur offer a serene place where all can come together to bond, share and
                form a community.<br></p>

            <p>Reside in the midst of nature without giving up on the comfort of modern living. Mayfair Apartments
                offers flats near Gachibowli that do just this. Find comfort in your abode and come home to a serene and
                blissful feeling everyday. Apartments for sale near Gachibowli now!<br></p>

            <p>Mayfair Apartments are the finest flats in Tellapur. If you’re looking for apartments for sale near
                Gachibowli, look no further than the lavished homes at Mayfair. Offering you indulgence that translates
                into a life of global living.</p>
        </div>
        <hr>
    </div>

    <div class="box-modal">
        <div>
            <h3>Featured properties</h3>
        </div>
        <div>
            <h3>Similar Listings</h3>
            <p class="p1">No similar listings found</p>
        </div>
    </div>

</section>
<section class="feature">
    <h4>Features List</h4>
    <div class="item">
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="st">Status:</span>
                    <span class="uc">Under Construction</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="st">Launch Date:</span>
                    <span class="uc">Mar 2019</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="st">Total Towers:</span>
                    <span class="uc">7</span>
                </div>

            </div>
        </div>
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="st">Project Area:</span>
                    <span class="uc">11 Acre</span>

                </div>
                <div class="ulisting_attributes">
                    <span class="st">Possession by:</span>
                    <span class="uc">Dec 2021</span>

                </div>
                <div class="ulisting_attributes">
                    <span class="st">Occupancy Certificate:</span>
                    <span class="uc">No</span>

                </div>
            </div>
        </div>
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="st">Price per Sqft:</span>
                    <span class="uc">₹5497 - 6328</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="st"> Total Units:</span>
                    <span class="uc">778</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="st">Commencement Certificate:</span><br>
                    <span class="uc">Yes</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="divider">
</section>
<section class="Amenities">
    <h4>Apartment Amenities</h4>
    <div class="item">
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="uc">Water Softener Plant</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Swimming Pool</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Piped Gas</span>
                </div>

            </div>
        </div>
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="uc">Beach Volley Ball Court</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc"> Pergola</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Aerobics Centre</span>
                </div>

            </div>
        </div>
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="uc">Salon</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Reflexology Park</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Creche/Day care</span>
                </div>

            </div>
        </div>


    </div>
    <hr class="divider">
</section>
<section class="property-video">
    <h4>Property Video</h4>
    <div class="item"></div>
</section>
<section class="property-video">
    <h4>Property Location</h4>
    <div class="item"></div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.344588179625!2d78.29098738465578!3d17.455590400000016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1986c6838e751ac!2sMayfair%20Apartments!5e0!3m2!1sen!2sin!4v1633712457286!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
<section class="blocks">
    <h4>Floor Plans</h4>
    <div class="item"></div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-A</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-a.jpg">
        </div>
    </div>
</section>

<section class="blocks">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-B</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-b.jpg">
        </div>
    </div>


    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>


    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-C</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-c.jpg">
        </div>
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-D</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-d.jpg">
        </div>
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-E</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-e.jpg">
        </div>
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-F</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-f.jpg">
        </div>
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">BLOCK-G</button>
        <div id="myDropdown" class="dropdown-content">
            <img src="images/block-g.jpg">
        </div>
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <hr class="divider">
</section>
<section class="other-fac">
    <h4 id="h4">Apartment Other Facilities</h4>
    <div class="item">
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="uc">24/7 Power Backup</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Vastu Compliant</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Squash Court</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Skating Rink</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Multipurpose Hall</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Indoor Games</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Internal Street Lights</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Gymnasium</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Cricket Pitch</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Community Hall</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">CTV Camera Security</span>
                </div>

            </div>
        </div>
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="uc">Yoga/Meditation Area</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Table Tennis</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc"> Senior Citizen Sitout</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Rain Water Harvesting</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">
                        Lawn Tennis Court</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Lift(s)</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Carrom
                    </span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Gated Community</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Children's Play Area</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Basketball Court</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Cafeteria</span>
                </div>

            </div>
        </div>
        <div class="item-colums">
            <div class="ulisting_elements">
                <div class="ulisting_attributes">
                    <span class="uc">24/7 Water Supply</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Security Cabin</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Sewage Treatment Plant</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Pool Table</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Landscape Garden</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Jogging Track</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">
                        InterCom</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Fire Fighting Systems</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Car Parking</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Club House</span>
                </div>
                <div class="ulisting_attributes">
                    <span class="uc">Chess</span>
                </div>



            </div>
        </div>


    </div>
    <hr class="divider">
</section>