

    <section class="sub-header">
        <nav>
            <a [routerLink]="['/']"><img src="../../assets/images/prelogo.png"></a>
            <div class="nav-links" id="navlinks">
                <i class="fas fa-window-close" onclick="hidemenu()"></i>
                <ul>
                    <li><a [routerLink]="['/apartments']">Apartment</a></li>
                    <!-- <li><a href="villa.html">VILLAS</a></li>
                    <li><a href="plot.html">PLOTS</a></li> -->
                    <li><a [routerLink]="['/about']">About</a></li>
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                </ul>
            </div>
            <i class="fas fa-bars" onclick="showmenu()"></i>
        </nav>
        <h1>About Us</h1>
    </section>


<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>We Are The World's Largest university</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas enim sunt, temporibus asperiores harum impedit maxime molestias eius exercitationem minus consequuntur molestiae dolor in? Iusto consectetur delectus accusamus aspernatur officia?</p>
            <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
            <img src=".../../assets/images/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg">
        </div>
    </div>
</section>