
<header></header>

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>We Are The World's Largest university</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas enim sunt, temporibus asperiores harum impedit maxime molestias eius exercitationem minus consequuntur molestiae dolor in? Iusto consectetur delectus accusamus aspernatur officia?</p>
            <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
            <img src=".../src/assets/images/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg">
        </div>
    </div>
</section>