<header></header>
<section class="facilities">
    <h1>Apartments</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis voluptatibus tempore repudiandae.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="images/view 1.jpg">
            <a [routerLink]="['/apartments/details']" >
                <h3>Greenmark Mayfair <br>Appartments</h3>
            </a>
            
            <p>Tellapur,Hyderabad.</p>
        </div>

        <div class="facilities-col">
            <img src="images/listing-6-1-600x450.jpg">
           
            <a [routerLink]="['/apartments/details']" >
                <h3>Greenmark Mayfair <br>Appartments</h3>
            </a>

            <p>114 holcroft,Rochester,NY</p>
        </div>
        <div class="facilities-col">
            <img src="images/VIEW.jpg">
            
            <a [routerLink]="['/apartments/details']" >
                <h3>Greenmark Mayfair <br>Appartments</h3>
            </a>
            <p>Tellapur,Hyderabad</p>
        </div>
    </div>

</section>
<section class="facilities">
    <!----<h1>Our facilities</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis voluptatibus tempore repudiandae.</p>-->
    <div class="row">
        <div class="facilities-col">
            <img src="images/view 1.jpg">
            <h3>Greenmark Mayfair <br>Appartments</h3>
            <p>Tellapur,Hyderabad.</p>
        </div>

        <div class="facilities-col">
            <img src="images/listing-6-1-600x450.jpg">
            <h3>Interior<br> Appartments</h3>
            <p>114 holcroft,Rochester,NY</p>
        </div>
        <div class="facilities-col">
            <img src="images/VIEW.jpg">
            <h3>APH279: New Gated Community Project in Tellapur</h3>
            <p>Tellapur,Hyderabad</p>
        </div>
    </div>

</section>
<section class="facilities">
    <!---- <h1>Our facilities</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis voluptatibus tempore repudiandae.</p>-->
    <div class="row">
        <div class="facilities-col">
            <img src="images/view 1.jpg">
            <h3>Greenmark Mayfair <br>Appartments</h3>
            <p>Tellapur,Hyderabad.</p>
        </div>

        <div class="facilities-col">
            <img src="images/listing-6-1-600x450.jpg">
            <h3>Interior<br> Appartments</h3>
            <p>114 holcroft,Rochester,NY</p>
        </div>
        <div class="facilities-col">
            <img src="images/VIEW.jpg">
            <h3>APH279: New Gated Community Project in Tellapur</h3>
            <p>Tellapur,Hyderabad</p>
        </div>
    </div>

</section>