<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreLaunch.sale</title>
    <script src="https://kit.fontawesome.com/36575ac5c9.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400">
    <link type="text/css" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Google+Sans+Text:400&amp;text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93">
    <script src="https://kit.fontawesome.com/36575ac5c9.js" crossorigin="anonymous"></script>
</head>

<body>

    <router-outlet></router-outlet>

    <section>
        <div class="partner">
            <span><img src="../assets/images/brand-1.png"></span>
            <span><img src="../assets/images/brand-2.png"></span>
            <span><img src="../assets/images/brand-3.png"></span>
            <span><img src="../assets/images/brand-4.png"></span>
            <span><img src="../assets/images/brand-5.png"></span>
            <span><img src="../assets/images/brand-6.png"></span>
        </div>

    </section>


    <section class="footer-sec1">
        <div>
            <div class="gsc-logo text-left">

                <a [routerLink]="['/']">
                    <img id="img1" src="../assets/images/prelogo.png" alt="Home" />
                </a>
            </div>
            <div class="elementor-widget-container">
                <p>Lorem ipsum dolor sit ame consect etur pisicing<br> elit sed do eiusmod
                    tempor incididunt ut labore.</p>
            </div>

            <div class="elementor-icon-box-content">
                <h4 class="elementor-icon-box-title">
                    <span>
                        Call Agent </span>
                </h4>

                <p class="elementor-icon-box-description">
                    <i class="fas fa-phone-volume phone phone-ca"></i><a href="">92 666 888 000</a>

                </p>
            </div>
        </div>
    </section>
    <!-- section 2 -->
    <footer id="wp-footer" class="clearfix">
        <section class="footer-sec2">
            <div class="dis-foot">
                
                <div class="luca-exp">  
                <h2 class="elementor-heading-title elementor-size-default">Explore</h2>
                    <ul class="elementor-icon-list-items">
                        <li class="elementor-icon-list-item">
                            About us
                        </li>

                        <li class="elementor-icon-list-item">
                            My account
                        </li>

                        <li class="elementor-icon-list-item">
                            Add Properties
                        </li>

                        <li class="elementor-icon-list-item">
                            Pricing Packages
                        </li>

                        <li class="elementor-icon-list-item">
                            Bookmarks
                        </li>

                        <li class="elementor-icon-list-item">
                            Contact us
                        </li>
                    </ul>
                </div>
            




            <!-- 2nd div -->
            
            <div class="luca-fea">
            <h2 class="elementor-heading-title elementor-size-default">Account</h2>
                <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">Dashboard</span>
                    </li>

                    <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">Members</span>
                    </li>

                    <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">Our Agents</span>
                    </li>

                    <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">Our Agency</span>
                    </li>

                    <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">Blog</span>
                    </li>
                </ul>
            </div>
            

            <!-- 3rd div -->
            <div class="luca-icon">
            <h2 class="elementor-heading-title elementor-size-default" id="news-1">Newsletter</h2>
            
                <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text">88 Broklyn Golden Street,
                        New York. USA</span>
                </li>

                <li class="elementor-icon-list-item">
                    <a href="mailto:needhelp@example.com">

                        <span class="elementor-icon-list-text">needhelp@example.com</span> </a>
                </li>
            
            </div>
          </div>  
        </section>

    </footer>
    <section class="last-sec">
        <div>
            <p id="cpr">&copy; All copyrights Reserved by &commat; Prelaunch.sale</p>
        </div>

    </section>
</body>

</html>