<section class="header">
    <nav>
        <a [routerLink]="['/']"><img src="../../assets/images/prelogo.png"></a>
        <div class="nav-links" id="navlinks">
            <i class="fas fa-window-close" onclick="hidemenu()"></i>
            <ul>

                <li><a [routerLink]="['/apartments']">Apartments</a></li>
                <!-- <li><a [routerLink]="['/about']">VILLAS</a></li>
                    <li><a [routerLink]="['/about']">PLOTS</a></li> -->
                <li><a [routerLink]="['/about']">About</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" onclick="showmenu()"></i>
    </nav>
    <div class="text-box">
        <h1>Book Pre Launch Projects in Hyderabad</h1>
        <p>with PreLaunch.sale</p>
        <a><button class="hero-btn">CALL US FOR FREE</button></a>
    </div>
</section>

<!-------facilities-->
<section class="facilities">
    <h1>Our facilities</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis voluptatibus tempore repudiandae.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="../../assets/images/view 1.jpg">
            <a href="details.html" class="details" target="_blank">
                <h3>Lukas County

                    <br>Appartments
                </h3>
            </a>
            <p>Tellapur,Hyderabad.</p>

            <p>West 89 Lakhs<br />
                East 99 Lakhs</p>

           <p> One time payment
            Including<br> amenities
            2 months time period</p>

        </div>

        <div class="facilities-col">
            <img src="../../assets/images/listing-6-1-600x450.jpg">
            <a href="detail2.html" class="details" target="_blank">
                <h3>Interior<br> Appartments</h3>
            </a>
            <p>114 holcroft,Rochester,NY</p>
        </div>


        <div class="facilities-col">
            <img src="../../assets/images/VIEW.jpg">
            <h3>APH279: New Gated Community Project in Tellapur</h3>
            <p>Tellapur,Hyderabad</p>
        </div>
    </div>
</section>
<section class="testimonials">
    <h1>What our students says</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestiae, ullain.</p>
    <div class="row">
        <div class="testimonials-col">
            <img src="../../assets/images/user1.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci facere incidunt nam velit cum
                    magnam earum numquam sequi, a error.</p>
                <h3>Christe berley</h3>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="testimonials-col">
            <img src="../../assets/images/user2.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci facere incidunt nam velit cum
                    magnam earum numquam sequi, a error.</p>
                <h3>David byer</h3>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <h1>Enroll For Our Various Online Courses<BR> Anywhere From The World</h1>
    <a href="" class="hero-btn">CONTACT US</a>
</section>

